<header>
    <img 
        src="assets/img/myProfile.jpg" 
        alt="Sergio Silva - Foto de Perfil"
        width="130px"
        height="130px"
        Loading="eager"
    />
    <h1>Sergio Silva</h1>
</header>


<aside>
    <div class="container">
        <p>Desenvolvedor front-end | Angular | React</p>
        <p>Belo Horizonte, Minas Gerais, Brasil</p>
        <p>
            Me interessei muito pela área de desenvolvimento,
            devido a isso realizo projetos web responsivos usando Angular e React.
        </p>
        <ul class="conhecimentos">
            @for (item of arrayKnowledge(); track item) {
                <li>
                    <img [src]="item.src" alt="item.alt" Loading="lazy" width="22px" height="
                    24px">
                </li>
            }
        </ul>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/sergio-silva-09b405206/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                    src="assets/icons/mail.svg" 
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"
                >
                <figcaption>
                    <a href="mailto:juniorsergio33@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>juniorsergio33&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                    src="assets/icons/git.svg" 
                    alt="Ícone para o github"
                    width="32px"
                    height="34px"
                >
                <figcaption>
                    <a href="https://github.com/iserjr" target="_blank">
                        <strong>Dê uma olhada no meu github!</strong>
                        <p>&#64;iserjr</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>