:host{
    margin-top: 25px;
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--secondary-background);

    h2{
        text-align: center;
        margin: 0 0 25px 0;
    }

    strong{
        line-height: 20px;
        font-weight: bold;
        font-size: 14px;
        color: var(--white);
        grid-column: 1/ -1;
    }

    p{
        font-size: 14px;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8%;

        li{
            flex: 20%;
            height: 100%;
            .card{
                gap: 10px;
                margin-bottom: 15px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-flow: row;
                padding: 10px 15px;
                position: relative;
                background: var(--black);
                height: 100%;
                border: 1px solid var(--black);
                border-radius: 7px;
                transition: 0.5s;
                &:hover{
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
            }
        }
    }

    

    #year{
        align-self: end;
    }

    #class{
        justify-self: end;
        align-self: end;
    }

    .card::before{
        display: block;
        content: "";
        background: var(--primary);
        width: 4px;
        height: 20px;
        top: 28px;
        left: -4px;
        position: absolute;
    }

    @media (max-width: 750px){
        ul{
            li{
                flex: 100%;
            }
        }
    }

}