<div class="container">
    <h2>Formações</h2>
    <ul>
        <li>
            <div class="card">
                <p>Tecnólogo</p>
                <strong>
                    Análise e Desenv. <br>
                    de Sistemas
                </strong>
                <p id="year">2023-2025</p>
                <p id="class">PUC Minas</p>
            </div>
        </li>
        <li>
            <div class="card">
                <p>Bacharelado</p>
                <strong>
                    Ciências da <br>computação
                </strong>
                <p id="year">2022-2023</p>
                <p id="class">UFOP</p>
            </div>
        </li>
        <li>
            <div class="card">
                <p>Técnico</p>
                <strong>
                    Desenvolvimento de <br>Sistemas
                </strong>
                <p id="year">2019-2021</p>
                <p id="class">COLTEC</p>
            </div>
        </li>
        
    </ul>
</div>