:root{
    --primary: #561376;
    --primary-10: #360c4a;

    --secondary: #055172;
    --secondary-10: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;

    --grey: #9b9ba0;
}